<div class="container">
    <button mat-button [matMenuTriggerFor]="aboveMenu1">Above</button>
    <mat-menu #aboveMenu1="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="aboveMenu2">Above</button>
    <mat-menu #aboveMenu2="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>

    <button mat-button [matMenuTriggerFor]="aboveMenu3">Above</button>
    <mat-menu #aboveMenu3="matMenu" yPosition="above">
        <button mat-menu-item>Item 1</button>
        <button mat-menu-item>Item 2</button>
    </mat-menu>
</div> 
