  .example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    color: white;
  }
  
  .aContainer {
    background-color: rgba($color: #000000, $alpha: 0.9);
    border-radius: 30px;
    padding: 100px;
  }

  .example-full-width {
    width: 100%;
    
  }

  .fl {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  td {
    padding-right: 8px;
  }

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background: url("https://www.taschen.com/media/images/1640/marvel_comics_library_avengers_vol_1_1963_1965_xl_gb_book005_x_01162_2205271706_id_1393032.jpg") center center/cover;
  } 
 
  .containerF {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 0.5rem;
  }

  .label {
    color: white;
    margin-top: 0.8rem;
  }

